// rofi -modi combi,window,ssh -show combi -combi-modi run,drun -width 100 -location 1 -lines 5 -bw 2 -yoffset -2 -show-icons -theme Adapta-Nokto
configuration {
    modi: "combi,window,ssh";
    combi-modi: "drun,run,window";
    location: 1;
    yoffset: -2;
    show-icons: true;
}
@theme "Adapta-Nokto"
listview {
    lines: 10;
}
window {
    width: 100%;
}

